*.tlog
*.obj
*.ilk
*.log
*.pch
*.pdb
*.cache
*.res
*.idb
*.sdf
*.aps
*.opensdf
/Debug
Debug/SImageViewer.exe
Debug/SImageViewer.lastbuildstate
Debug/SImgProc.dll
Release/SImageViewer.lastbuildstate
Release/SImgProc.dll
SImageViewer.suo
